@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Overpass & Montserrat */

:root {
    --main: #ff6862;
    --background: #121212;
    --background-accent: #1a1a1a;
    --gray-text: #494949;
}

body {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'montserrat';
    background-color: var(--background);
}
  
nav {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 80%;
    height: 70px;
    border-radius: 10px;
    margin-top: 15px;
    margin-inline: auto;
}

.logoText {
    line-height: 55px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    font-family: 'Overpass';
    font-size: 24px;
}

.nav-links {
    margin-left: auto;
}

.nav-link {
    cursor: pointer;
    font-family: 'Montserrat';
    border: none;
    background-color: #ffffff00;
    line-height: 70px;
    text-decoration: none;
    color: var(--gray-text);
    font-size: 19px;
    margin-inline: 20px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: var(--main);
}

.mainSection {
    padding-top: 85px;
    display: flex;
    flex-direction: row;
    background-color: var(--background-accent);
    height: 700px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mainCreate {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--main);
    padding: 20px;
    font-size: 35px;
    text-decoration: none;
    transition: ease all 0.3s;
    z-index: 1;
    border-radius: 4px;
    width: 557px;
    height: 220px;
    text-align: center;
}

.mainCreate:hover {
    background-color: #fff;
    color: var(--main);
}

#dream {
    z-index: -1;
    cursor: default;
    font-size: 30px;
}

.cardSection {
    background: #131313;
    display: flex;
    flex-direction: row;
    height: 550px;
    justify-content: center;
    align-items: center;
}

.card {
    display: block;
    color: #fff;
    height: 300px;
    width: 400px;
    padding: 13px;
    margin-inline: 35px;
    border-radius: 4px;
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.cardDesc {
    font-size: 20px;
}

.cardIcon {
    display: flex;
    justify-content: center;
}

.portfolio {
    display: flex;
    height: 600px;
    background-color: #131313;
}

.portGrid {
    margin-top: 35px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    width: 80%;
    margin-inline: auto;
    justify-items: center;
    align-items: center;
}

.gridItem {
    display: block;
    width: 95%;
    height: 80%;
    position: relative;
}

.gridItem > img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.itemHover {
    text-align: center;
    color: #fff;
    display: none;
    width: 100%;
    height: 82%;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(3px) brightness(0.5);
    border-radius: 5px;
}

.gridItem:hover > div, .gridItem:hover > img {
    display: block;
    transform: scale(1.3);
}

.btn {
    display: block;
    background-color: #fff;
    color: var(--gray-text);
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-decoration: none;
    margin-inline: auto;
}